*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/ # Eğer collectstatic kullanmıyorsan veya statik dosyaların repo'da olmasını istemiyorsan
.DS_Store
venv/
.env # ÇOK ÖNEMLİ
*.swp